body {
    background-color: #f0e8d8;
    width: 600px;
    height: 400px;
    margin: 0;
}

.headerOne {
    font-family: 'Arial Black', sans-serif;
    color: #748cab;
    text-align: center;
    margin-top: 80px;
}

.uploadButton {
    display: block;
    margin: 50px auto;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #748cab;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
}

.uploadButton:hover {
    background-color: #5a6d81;
}